<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Filter Items</h2>
    <div class="filters">
        <label><input type="checkbox" class="filter-checkbox" value="640x480">640x480</label>
        <label><input type="checkbox" class="filter-checkbox" value="720x480">720x480</label>
        <label><input type="checkbox" class="filter-checkbox" value="720x576">720x576</label>
        <label><input type="checkbox" class="filter-checkbox" value="720x720">720x720</label>
        <label><input type="checkbox" class="filter-checkbox" value="1280x720">1280x720</label>
        <label><input type="checkbox" class="filter-checkbox" value="language">Language Support</label>
        <label><input type="checkbox" class="filter-checkbox" value="grid">Grid Mode</label>
    </div>

    <div class="grid-container">
        <div class="grid-item" data-tags="640x480 720x480">
            <img src="https://raw.githubusercontent.com/MustardOS/theme/refs/heads/main/2502.0_Pixie/Analogue-Arimo/640x480/preview.png">
            <a href="https://github.com/MustardOS/theme/releases/latest/download/Analogue-Arimo.muxthm">Analogue-Arimo</a>
            <br>
            <sup>by: Cheema OTB (original: Aemiii91)</sup>
        </div>

        <div class="grid-item" data-tags="640x480">
            <img src="https://raw.githubusercontent.com/MustardOS/theme/refs/heads/main/2502.0_Pixie/Analogue/640x480/preview.png">
            <a href="https://github.com/MustardOS/theme/releases/latest/download/Analogue.muxthm">Analogue</a>
            <br>
            <sup>by: Cheema OTB (original: Aemiii91)</sup>
        </div>

        <div class="grid-item" data-tags="720x480">
            <img src="https://raw.githubusercontent.com/MustardOS/theme/refs/heads/main/2502.0_Pixie/Art%20Book%20Next%20v1%20Chs/640x480/preview.png">
            <a href="https://github.com/MustardOS/theme/releases/latest/download/Art.Book.Next.v1.Chs.muxthm">Art Book Next v1 Chs</a>
            <br>
            <sup>by: yingw (original: ciskao & anthonycaccese)</sup>
        </div>

        <div class="grid-item" data-tags="720x720 640x480">
            <img src="https://raw.githubusercontent.com/MustardOS/theme/refs/heads/main/2502.0_Pixie/Art%20Book%20Next%20v1/640x480/preview.png">
            <a href="https://github.com/MustardOS/theme/releases/latest/download/Art.Book.Next.v1.muxthm">Art Book Next v1</a>
            <br>
            <sup>by: ciskao (original: anthonycaccese)</sup>
        </div>
        
        <div class="grid-item" data-tags="720x720 640x480">
            <img src="https://raw.githubusercontent.com/MustardOS/theme/refs/heads/main/2502.0_Pixie/Art%20Book%20Next%20v2/640x480/preview.png">
            <a href="https://github.com/MustardOS/theme/releases/latest/download/Art.Book.Next.v2.muxthm">Art Book Next v2</a>
            <br>
            <sup>by: ciskao (original: anthonycaccese)</sup>
        </div>
        
        <div class="grid-item" data-tags="720x720 640x480">
            <img src="https://raw.githubusercontent.com/MustardOS/theme/refs/heads/main/2502.0_Pixie/Beans%20-%20Wonderland/640x480/preview.png">
            <a href="https://github.com/MustardOS/theme/releases/latest/download/Beans.-.Wonderland.muxthm">Beans - Wonderland</a>
            <br>
            <sup>by: Manveru0</sup>
        </div>
    </div>


</body>
</html>
